* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  background-color: var(--mainBG);
  color: var(--text);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px calc(100% - 450px);
      grid-template-columns: 450px calc(100% - 450px);
      grid-template-areas: "sidebar main";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: var(--sidebarBG);
  color: var(--text);
  height: 100%;
  width: 450px;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 30% 45% 15%;
      grid-template-rows: 10% 30% 45% 15%;
}

header h1 {
  padding-left: 25px;
  font-family: "Pangolin", cursive;
  font-size: 48px;
  color: var(--mainBG);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header h1:hover {
  -webkit-animation: colorchange 10s infinite;
          animation: colorchange 10s infinite;
}

header h2 {
  padding-left: 25px;
  font-family: "Pangolin", cursive;
  font-size: 16px;
  color: var(--mainBG);
  opacity: 0.5;
  -webkit-animation: slideIn 0.5s forwards 0s ease;
          animation: slideIn 0.5s forwards 0s ease;
}

header #toggle {
  width: 40px;
  height: 40px;
  padding: 10px;
  padding-left: 25px;
  font-size: 32px;
  cursor: pointer;
}

header .links {
  margin-left: 25px;
  border-top: 1px solid var(--border);
  width: 75%;
}

header .links .fa {
  font-size: 30px;
  margin: 2.5%;
  text-decoration: none;
  color: var(--icons);
}

header .links .fa:hover {
  opacity: 0.7;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

main .projectCard {
  font-family: "Roboto", sans-serif;
  padding: 10%;
  text-align: center;
  cursor: pointer;
}

main .projectCard h1 {
  border-top: 1px solid black;
  width: 60%;
  margin-left: 20%;
  padding-top: 15px;
}

main .projectCard:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

main .titleCard {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .titleCard #title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .titleCard #title:hover {
  text-decoration: underline;
}

main .projectCard img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 500px calc(100% - 500px);
        grid-template-rows: 500px calc(100% - 500px);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "sidebar" "main";
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sidebar;
    position: relative;
    padding: 0px;
    width: 100%;
    height: 500px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 30% 45% 15%;
        grid-template-rows: 10% 30% 45% 15%;
    text-align: center;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
  }
  header .fa {
    margin-top: 10px;
  }
  header .links {
    padding: 0px;
    width: 60%;
    margin-left: 20%;
    border: none;
  }
  header #toggle {
    margin: auto;
    padding: 0px;
  }
  main {
    height: 120%;
    margin-top: 10%;
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --lGrey: #b5bec6;
  --dGrey: #364652;
}

.dark {
  --sidebarBG: var(--white);
  --mainBG: var(--black);
  --text: var(--white);
  --icons: var(--dGrey);
  --border: var(--lGrey);
}

.light {
  --sidebarBG: var(--black);
  --mainBG: var(--white);
  --text: var(--black);
  --icons: var(--lGrey);
  --border: var(--dGrey);
}

@-webkit-keyframes colorchange {
  0% {
    color: #1499fa;
  }
  20% {
    color: #be6e84;
  }
  40% {
    color: #a6deff;
  }
  60% {
    color: #e61f01;
  }
  80% {
    color: #f336b2;
  }
  100% {
    color: #e72c68;
  }
}

@keyframes colorchange {
  0% {
    color: #1499fa;
  }
  20% {
    color: #be6e84;
  }
  40% {
    color: #a6deff;
  }
  60% {
    color: #e61f01;
  }
  80% {
    color: #f336b2;
  }
  100% {
    color: #e72c68;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=style.css.map */